﻿@model StudentCatalog.Models.Student
@{
    ViewBag.Title = "Create user";
}

<h2 >Create</h2>
@using (Html.BeginForm())
{

  @Html.ValidationSummary(true)

        <div class="form-group">
            <label> FirstName</label>
            @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.FirstName)


        </div>
        <div class="form-group">

            <label> LastName</label>
            @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.LastName)

        </div>
        <div class="form-group">

            <label > Email <span class= "glyphicon glyphicon-envelope"></span> </label>
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Email)




        </div>
        <div class="form-group">

            <label> Mobile <span class="glyphicon glyphicon-phone"></span></label>
            @Html.TextBoxFor(a => a.Mobile, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Mobile)

        </div>
        //<input class="btn btn-danger" type="submit" value="Save" />
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> </button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>

       // <input class="btn btn-default" type="button" value="Cancel" />


}

